@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
    scroll-behavior: smooth;
  }

body{
   font-family:"Open Sans", sans-serif;
    color:black;
}
a:hover {
    color: #7289da;
    background-color: transparent;
    text-decoration: none;
  }

img{
    max-width: 1897px;
    max-height: 910px;
}
 #pdf{padding-right: 10px; margin-right: 10px;}

  #about-me{
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #7289da;
    text-underline-offset:18%;
    color: #E1EDF2;

  }

  #about-me-div{
    color:#E1EDF2;
    margin:auto;
    line-height:51px;
    vertical-align:middle;
  }
  #about-me-row{
      padding-bottom: 20px;
  }

#main-div{
    color: black;
}


#projects-title{
    color:#99aab5;
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color:#7289da;
    text-underline-offset:20%;
}

.cards {
    transition: all 0.2s ease;
    cursor: pointer
    
}

.cards:hover {
    box-shadow: 5px 6px 6px 2px #1d1d1d;
    transform: scale(1.03)
}

.card{
    background-color:#23272a;
        max-width: 920px;
        max-height: 670px;
      }

.card-title{
    color:#E1EDF2;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
    text-decoration-color: #7289da;
    text-underline-offset:20%;
}

.card-img {
    max-height: 435px;
    max-width: 908px;
    margin: auto;
  }

.card-text{
    color:#E1EDF2;
}

.card-lf{
    color:#E1EDF2;
}

.card-link{
    color:#7289da;
}

#courses-title{
    color:#E1EDF2;
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #7289da;
    text-underline-offset:20%;
}
table-div{
    margin: 0 auto;
}

th{
    color: #E1EDF2;
    text-align: center;
}
tr{
    color:#E1EDF2 ;
    text-align: center;
}

.IconsInAboutMe{
 display: inline;
}

.CardIcons{
font-size: 35px;
}

.IconsInCardTitle{
color: #99aab5;
font-size: 33px;
float: right;
margin-right: 10px;
margin-left: -20px;
}

.Col{padding-bottom: 22px;}

.FadedBorder{
    color:'white';
    font-Size:"30px";
    border-Left:"3px solid #7289da";
    margin-left:"10%";
    border-image: 
    linear-gradient(
      to bottom, 
      #7289da, 
      #343a40
    ) 1 100%;
}
.ShopifyProject{
    margin-left:auto;
    margin-right:auto;
}
/* .shopify-gif{
  height: 450px;
  background:transparent url('Shopify.gif') center top no-repeat;
  background-size: 125%;
}

.shopify-gif:hover
{
  background-image:url('Shopify.gif');
} */